{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div class="container">
    <div class="card-columns">
        {% for image in images %}
        <!--Display image Image images  -->
        <div class="card">
            <img src="{{image.gallery_image.url}}" data-target="#extraModal{{image.id}}" data-toggle="modal"style="width:400px;height:250px;">
        </div>

        {% endfor %}
    </div>
</div>

<!-- Large modal -->
{% for image in images %}

<!-- Modal -->
<div class="modal fade" id="extraModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="extra"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <h5 class="modal-title" id="exampleModalLongTitle">{{image.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <img src="{{image.gallery_image.url}}" data-target="#extraModal{{image.id}}" data-toggle="modal">
                <p>{{image.description}}</p>
                <p>{{image.location}}</p>
                {% for category in image.categories.all %}
                <p> Category:{{ category.name }} <p>
                    {% endfor %}
                <!-- The button used to copy the text -->
                <button onclick="myFunction()">Copy Link</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



{%endfor%}
{% endblock %}